:root {
  --primary-color: #ffa256;
  --secondary-color: #FFD700;
  --background-color: #FFF8DC;
  --text-color: #131414;
  --accent-color: #4b260c;
  --hover-color: #FF4500;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#about-section,
#recipes-section,
#tips-section {
  scroll-margin-top: 9em;
}

body {
  font-family: lora, sans-serif;
  width: 100vw;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

#main-header {
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

h1, h2 {
  text-align: center;
}

nav ul {
  list-style: none;
  color: var(--accent-color);
}

nav li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
  font-family: lora, sans-serif;
}



nav a:hover {
  color: var(--hover-color);
}

h1 {
  font-family: "RocknRoll One", sans-serif;
}

main {
  padding: 2em;
}

#main-page {
  margin-top: 9em;
}

#about-section {
  text-align: center;
  
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  text-align: center;
}



.recipe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

hr {
  border: 0;
  height: 0.2em;
  background: var(--accent-color);
  margin: 2em 0;
}

#recipes-section {
  text-align: center;
}

.recipes-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent-color);
  border: 0.2em solid var(--accent-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.recipe-footer {
  text-align: center;
}

#tips-section {
  padding: 1em;
  border-radius: 0.5rem;
  box-shadow: 0, 5px 5px rgba(0, 0, 0, 0.2);
  border: 0.2em solid var(--accent-color);
  text-align: center;
}

#tips-section ul {
  list-style-type: none;
  padding: 0;
}

#tips-section li {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 520px) {
  #main-header {
    flex-direction: row;
    justify-content: space-around;
  }
  body {
    font-size: 18px;
  }
  nav li {
    font-size: 1.2rem;
  }
  #main-page {
    margin-top: 8em;
  }

  h2 {
    font-size: 2.2rem;
  }
  #tips-section li {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 650px) {
  #main-header {
    height: 12%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav li {
    margin-right: 1em;
    font-size: 1.3rem;
  }
  
  body {
    font-size: 20px;
  }
  
  h2 {
    font-size: 2.4rem;
  }

  #tips-section li {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe img {
    height: 300px;
  }
}

@media only screen and (max-height: 500px) {
  #main-header {
    height: 20%;
  }
  #main-page {
    margin-top: 5em;
  }
}


#recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  margin-top: 1em;
}

header img {
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2em solid var(--accent-color);
}

.recipe-info {
  margin-top: 0;
  border: 0.2rem solid var(--accent-color);
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 2em;
  margin: 1em auto;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#description-section h2, #ingredients-section h2, #instructions-section h2 {
  margin-bottom: 0.4em;
}

.recipe-info h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8rem;
}

.recipe-info p, .recipe-info ul, .recipe-info ol {
  font-family: lora, sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
}



.recipe-info ul, .recipe-info ol {
  padding-left: 0.2em;
  
}

.recipe-info li {
  margin-bottom: 0.5em;
}



